<!DOCTYPE html>
<html>
<head>
    <title>ARTHC Timeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css" type="text/css" />
</head>
<body>
<div id="app"  :class="{ quizAll: isQuizAll, mobile: isMobile}">
    <!-- <div id="time_scroll">
        <h1 style="opacity:.25">ARTHC Timeline</h1>
        <div id="time_flow">
            <div id="flat_line"></div>
            <div id="markers">
                <div v-for="era in eras" class="century-block" :id="era" :style="eraStyle"><h3>{{era}}</h3></div>
            </div>
            <div id="gallery">
                <div v-for="piece in galleryEls" :id="piece.idString" :class="piece.classes" :style="piece.styles">
                    <div class="card">
                        <div class="image">
                            <img :src="piece.img" :alt="piece.name">
                            <div class="openTheater" @click="setTheaterImage(piece)"></div>
                        </div>
                        <div class="info">
                            <div class="title">{{piece.name}}</div>
                            <div class="artist">{{piece.artist}}</div>
                            <div class="period">{{piece.period}}</div>    
                            <div class="year">{{piece.year}}</div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div id="main-view">
        <div id="timeline-wrapper" onwheel="app.doScroll(event)">
            <div id="timeline-box" class="fs-inner-wrapper">            
            <div id="markers">
                <div id="flatLine"></div>
                <div v-for="era in eras" class="century-block" :id="era" :style="{width: `${eraWidth}rem`}"><div class="era-label">{{era}}</div></div>
            </div>

            <div id="gallery">
                <div v-for="event in galleryEls" :id="event.idString" :class="{eventPos: true, hasImg: event.img, ext: event.type === 'ext'}" :style="event.styles">
                    <div class="card">
                        <div v-if="event.img" class="image">
                            <img :src="event.img" :alt="event.name">
                            <div class="openTheater" @click="setTheaterImage(event)"></div>
                        </div>
                        <div class="info">
                            <div class="title">{{event.name}}</div>
                            <div class="details">    
                                <div class="date">{{MONTH[event.month]}}<span v-if="event.day != 0"> {{event.day}}</span>, {{event.year}}</div>
                            </div>
                        </div>
                        <div v-if="event.recId" class="openRecord" @click="setTheaterRecord(event)"></div>
                    </div>
                </div>
            </div>

        </div>
    
        <div id="controls">
            <div id="zoomBox">
                <div id="zoomIn" @click="changeEraZoom(.25)" class="btn zoom"></div>
                <div id="zoomOut" @click="changeEraZoom(-.25)" class="btn zoom"></div>            
            </div>
            <div id="addEventBox">
                <div id="addEvent" class="btn">+ Create Event</div>
            </div>
        </div>
    </div>

        <div id="person-summary">
            <h1>Robert Harris Jr</h1>
        </div>

    </div>

    <div v-show="theaterOn" id="theater">
        <div id="screen" @click="toggleSubs">
            <div v-if="theaterMode == 'img'" id="imageBox" :style="theaterData.bgSrc"></div>
            <div v-show="theaterMode == 'rec'" id="recordBox">
                <div id="records" v-html="recordsHTML"></div>
            </div>
        </div>
        <div id="subs" v-if="theaterData.subHTML" v-show="subsOn">
            <div id="subHTML" v-html="theaterData.subHTML"></div>
        </div>
        <div id="exitTheater" @click="closeTheater">&times;</div>
    </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./gallery.js"></script>
    <script src="./index.js"></script>

</body>
</html>