<!DOCTYPE html>
<html>
<head>
    <title>LifeSketch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css" type="text/css" />
</head>
<body>
<div id="app"  :class="{ quizAll: isQuizAll, mobile: isMobile}">

    <div id="main-view">

        <div id="person-summary">
            <h1>Robert Harris Jr</h1>
        </div>

        <div id="timeline-wrapper" onwheel="app.doScroll(event)">
            <div id="timeline-box" class="fs-inner-wrapper">            
            <div id="markers">
                <div id="flatLine" :style="{bottom: `${dividerHeight}rem`}"></div>
                <div v-for="era in eras" class="century-block" :id="era" :style="{width: `${eraWidth}rem`}"><div class="era-label">{{era}}</div></div>
            </div>

            <div id="gallery">
                <div v-for="event in galleryEls" :id="event.idString" :class="{eventPos: true, hasImg: event.img, ext: event.type === 'ext'}" :style="{left: `${event.netPos}rem`, height: `calc( (100% - ${dividerHeight}rem) * ${event.pos/100} + ${dividerHeight}rem)`}">
                    <div class="card">

                        <div v-if="event.img" class="image">
                            <img :src="event.img" :alt="event.name">
                            <div class="openTheater" @click="setTheaterImage(event)"></div>
                        </div>
                        
                        <div class="info">
                            <div class="title">{{event.name}}</div>
                            <div class="date" v-if="!event.img"><span v-if="event.month">{{MONTH[event.month]}}<span v-if="event.day != 0"> {{event.day}}</span>, </span>{{event.year}}</div>
                            <div class="details">    
                                    <div class="place">{{event.loc}}</div>
                                    <div class="note" v-html="event.note"></div>
                            </div>
                        </div>
                        
                        <div v-if="event.recId" class="openRecord" @click="setTheaterRecord(event)"></div>
                    </div>
                </div>
            </div>

        </div>
    
        <div id="controls">
            <div id="zoomBox">
                <div id="zoomIn" @click="changeEraZoom(.25)" class="btn zoom"></div>
                <div id="zoomOut" @click="changeEraZoom(-.25)" class="btn zoom"></div>            
            </div>
            <div id="addEventBox">
                <div id="addEvent" class="btn">+ Create Event</div>
            </div>
        </div>
    </div>

    </div>

    <div v-show="theaterOn" id="theater">
        <div id="screen">
            
            <div id="exitTheater" @click="closeTheater">&times;</div>

            <div id="imageBox" v-if="theaterMode == 'img'" :style="theaterData.bgSrc"  @click="toggleSubs"></div>
            
            <div id="recordBox" v-show="theaterMode == 'rec'" :class="{hand: handFont}">
                <div id="records" v-html="recordsHTML"></div>
                <div id="toggleFont"><label for="handFont">Aa</label><input type="checkbox" v-model="handFont" id="handFont"></div>
            </div>
        </div>
        <div id="subs" v-if="theaterData.hasSubs" v-show="subsOn">
            <div v-if="theaterMode == 'img'">
                <div class="title">{{theaterData.name}}</div>
                <p class="notes" v-show="theaterData.note">{{theaterData.note}}</p>
            </div>
        </div>
    </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./gallery.js"></script>
    <script src="./index.js"></script>

</body>
</html>