body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #fff;
  padding: 0px;
  margin: 0px;
}

/* Header */
.header {
  display: flex;
  padding: 20px 100px 0px 100px;
  background-color: #5BDEFF;
  color: #fff;
}

.title {
  margin-top: 10px;
}

.title h1, .title h2 {
  margin: 0px;
}

.title h1 {
  border-top: 1px solid #000;
}

/* Footer */
.footer {
  height: 50px;
  padding: 20px 100px 0px 100px;
}

.footer a {
  color: #000;
}

/* Content */
.content {
  padding: 20px 100px 0px 100px;
}


/* Admin */
.heading {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.heading h2 {
  margin: 0px;
  margin-left: 10px;
}

.add, .edit {
  display: flex;
}

.circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #333;
  color: #fff;
  text-align: center;
}

/* Form */
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.form {
  margin-right: 50px;
}

/* Uploaded images */
.upload h2 {
  margin: 0px;
}

.upload img {
  max-width: 300px;
}

/* Suggestions */
.suggestions {
  width: 200px;
  border: 1px solid #ccc;
  max-height: 6em;
  overflow-y: auto;
}

.suggestion {
  min-height: 20px;
}

.suggestion:hover {
  background-color: #5BDEFF;
  color: #fff;
}

/* Masonry */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

.image {
    margin: 0 0 1.5em 1.5em;
    display: inline-block;
    width: 23%;
    flex-grow: 1;
    max-width: 18em;
    min-width: 10em;
    box-shadow: 0 0 0.3em #00000055;
    border-radius: .2em;
}

.image img {
  width: 100%;
  background-color: #efefef;
}

.details {
  padding: .5em;
}

.image h2 {
    font-size: 1em;
    margin: 0 0 .3em;
}

.descr {
    font-style: italic;
    font-size: .9em;
}